.contact {
  padding: 10px 7%;
  margin: 60px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
.contact h1 {
  font-size: 30px;
  font-weight: 600;
  
}
.contact-table {
  display: flex;
  gap: 10px;
  width: 100%;
}

 .contact-left {
  padding: 0px;
  width: 40%;

}
.contact-left form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-left form input {
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 0;
  outline: 0;
}
.text-area {
  border: 0;
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
}
.contact-left form button {
  padding: 10px 15px;
  font-size: 10px;
  background: rgb(8, 85, 179);
  width: 100px;
  border: 0;
  outline: 0;
  color: #fff;
}
.contact-right {
  width: 60%;
}
.contact-right img {
  width: 100%;
}


