.about {
  width: 100%;
  padding: 10px 7%;
  margin: 60px 0px;
  display: flex;
  gap: 20px;
}
.about-left {
  flex-basis: 48%;
  width: 100%;
  
}
.about-left h1 {
  color: rgb(26, 28, 28);
  font-size: 30px;
  font-weight: 600;
  padding-left: 10px;
}
.about-left h1 span {
  color: rgb(15, 197, 197);
 
}
.about-left p {
  color: rgb(52, 91, 91);
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  padding-left: 10px;
  margin-bottom: 10px;
}
.about-left button {
  padding: 8px 15px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  gap: 10px;
  background: rgb(20, 84, 109);
  font-size: 12px;
  font-style: 500;
  border: 0;
  outline: 0;
  margin-top: 10px;
  cursor: pointer;
}
.about-left button img {
  width: 20px;

}
.about-right {
  flex-basis: 48%;
}
.about-right img {
  width: 100%;
}